@import "tailwindcss";

.custom-gradient {
  background: linear-gradient(215deg, #ff5d29 0%, #fe9c1c 100%);
}

.container {
  max-width: 1387px;
  padding: 20px;
  margin: 0 auto;
}
body {
  background: linear-gradient(223deg, #1e0c00 0%, #1f0700 31.43%, #170a00 69.37%, #1e0d00 100%);
}
.toggle-btn {
  position: absolute;
}
button {
  cursor: pointer;
}